@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeueLight.woff2') format('woff2'),
        url('HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

