@use "./variables" as *;

.body {
  background: $color-bg;
  color: $color-fg;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 96px;
}
